main {
    background-color: white;
    max-width: 1200;
    margin: 0 auto;
}

.alt-column-section {
	margin: 80px 0;
	display: flex;
}

.reverse {
	flex-direction: row-reverse;
}

.textBox {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.applyBTN a{
  background-color: blue;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.applyBTN a:hover {
  background-color: #555;
  cursor: pointer;
}

.applyBTN a:active {
  background-color: black;
}

.aboutBTN a{
  background-color: blue;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.aboutBTN a:hover {
  background-color: #555;
  cursor: pointer;
}

.absoluteBTN a:active {
  background-color: black;
}

.textBox-details {
	max-width: 500px;
}

.textBox-details h2 {
  font-family: Roboto, sans-serif;
	font-weight: 700;
}

.textBox-details p {
  font-family: Lora, serif;
}

.hero {
  display: flex;
  flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/space.jpg);
    color:  white;
	height: 280px;
}

button {
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 50px;
  cursor: pointer;
  background-color: black;
}

button:hover {
    color:violet
}

.textBox-button {
	padding: 10px 20px;
	background-color: blue;
	color: white;
	border-radius: 3px;
	width: 100px;
	display: flex;
	justify-content: space-between;
}

.header-wrapper{
  box-shadow: 0 2px 3px 0 rgb(0 0 0 /18%);
  padding: 0 35px 0 15px;
}

header{
  max-width: 1200;
  margin: 0 auto;
  height: 80px;
  color: #4a4a4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 2em;
	color: #00c3da;
}

header nav a {
	text-decoration: none;
	font-weight: bold;
	padding: 0 15px;
	color: #4a4a4a;
	transition: color 0.25s ease-in-out;
}
header nav a:hover {
	color: #00c3da;
}
header .actions {
	display: flex;
	align-items: center;
}
.download-btn {
	padding: 11px 20px;
	background-color: #00c3da;
	color: white;
	border-radius: 3px;
	margin-right: 15px;
}
.download-btn:hover {
	box-shadow: 1px 2px 10px rgb(0 0 0 / 20%);
}
.download-btn span {
	margin-left: 6px;
	cursor: pointer;
}
.icon {
	font-size: 1.5em;
	position: relative;
}

.mobile-nav-menu-btn {
	display: none;
}

.mobile-nav-menu-container {
	position: absolute;
	top: 80px;
	right: -25px;
	padding: 10px;
	background-color: white;
	box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
	display: none;
}
.mobile-nav-menu {
	width: 200px;
	height: 220px;
	display: flex;
	font-size: 0.75em;
	flex-direction: column;
	justify-content: space-around;
}

@media screen and (max-width: 900px) {
	.wide-nav,
	.applyBTN,
	.download-btn span {
		display: none;
	}
	.mobile-nav-menu-btn {
		display: flex;
		padding-left: 15px;
		height: 80px;
		cursor: pointer;
		position: relative;
		align-items: center;
	}
	.mobile-nav-menu-btn:hover {
		color: #00c3da;
	}
	.mobile-nav-menu-btn:hover .mobile-nav-menu-container {
		display: block;
	}

}
